*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #0C090A;
}
.intro-header{
    font-size: 60px;
    font-weight: bolder;
    color: #EEEEEE;
    margin-top: 120px;
}
#startBtn{
    margin-top: 50px;
    background: linear-gradient(150deg, #191d45, #306EFF);
    border: none;
    outline: solid 4px #306EFF ;
    color: #EEEEEE;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    font-size: x-large;
    cursor: pointer;
}
#startBtn:hover{
    outline-offset:  6px;
    transition: ease-out .3s;
}

.formWrapper{
    width: 100%;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startDialog{
    width: 500px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
    background-color: black;
    border-radius: 24px;
    /* border: none; */
    border: 1px solid white;
}
#startDialog::backdrop{
    backdrop-filter: blur(7px);
}
#startDialog input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

#startDialogLabel{
    margin-top: 10px !important;
    color: #EEEEEE;
    font-weight: bolder;
    top: 0;
    left: 0;
    padding: 10px, 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

#startDialog form:focus ~ label,
#startDialog form:valid ~ label{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.fname-warn{
    color: #C83F49;
}
.lname-warn{
    color: #C83F49;
}

#addNewIncomeSourceDialog{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

#addIncomeSource{
    background: linear-gradient(150deg, #191d45, #306EFF);
    border: none;
    outline: none;
    color: #EEEEEE;
    width: 100px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

#cancelInfoSubmit{
    background: linear-gradient(150deg, #510207, #C83F49);
    border: none;
    outline: none;
    color: #EEEEEE;
    width: 100px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

#infoSubmit{
    background: linear-gradient(150deg, #191d45, #306EFF);
    border: none;
    outline: none;
    color: #EEEEEE;
    width: 100px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

#addNewIncomeSourceDialog{
    padding: 20px;
    background-color: black;
    border-radius: 24px;
    /* border: none; */
    border: 1px solid white;
}

#addNewIncomeSourceDialog label{
    margin-top: 10px !important;
    color: #EEEEEE;
    font-weight: bolder;
}

#addNewIncomeSourceDialog input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

#addNewIncomeSourceDialog::backdrop{
    backdrop-filter: blur(5px);
}

#addOtherIncomeSource{
    background: linear-gradient(150deg, #191d45, #306EFF);
    border: none;
    outline: none;
    color: #EEEEEE;
    width: 100px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 15px;
}